{% extends "admin/base.html" %}

{% block title %}{{ title }} | Tyne Finance{% endblock %}

{% block extrastyle %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
{% endblock extrastyle %}

{% block branding %}
<style>
    body {
        font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    #site-name {
        font-family: 'IBM Plex Mono', monospace;
    }
</style>
<h1 id="site-name"><a href="{% url 'admin:index' %}">Tyne Finance Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}